/* Styles globaux ou de base pour l'application */
:global(body) {
  /* :global() pour cibler le body qui n'est pas dans le scope du module */
  margin: 0;
  font-family: "Roboto Slab", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles pour le wrapper principal de l'application si nécessaire */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pour s'assurer que le footer reste en bas */
}

/* Autres styles de réinitialisation ou globaux */
:global(a) {
  text-decoration: none;
  color: inherit;
}

:global(button) {
  border: none;
  cursor: pointer;
  font: inherit;
  outline: none;
}
